$heading-color: #ccc;
$border-dark-color: #404040;
$border-color: #ddd;
$text-white: #fff;

$background-color: #fff;
$font-color: #333;
$required-color: #DC143C;

$button-primary-action-color: #6495ED;
$warning-background: #ffeb3b;