/* 12 COLUMN GRID SYSTEM */
.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    padding: 10px;
}

@for $i from 1 through 12 {
    $w:($i / 12) * 100%;
    .small-#{$i} {flex-basis: $w;}	
} // end loop