@import '../../styles/colors';

.container {
  display: flex;
  flex: 0 0 100%;

  label {
    float:left;
    width: 33.33%;
    background-color: $heading-color;
    border-radius: 4px;
    border:1px solid $border-color;
  }

  label span {
    text-align: center;
    padding: 10px 0px;
    display: block;
  }

  label input {
    position: absolute;
    top: -20px;
  }

  input:checked + span {
    background-color: $border-dark-color;
    border-radius: 4px;
    color: $text-white;
    font-weight: 500;
  }
}

