@import '../../styles/colors';

.container {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;

  thead {
    text-align: left;
    font-size: 1.2rem;
    border-top: 2px solid $border-dark-color;
    border-bottom: 2px solid $border-dark-color;

    th {
      padding: 10px;
    }
  }

  tbody {
    tr {
      td {
        padding: 10px;
        font-size: 1.1rem;

        input[type=checkbox]
        {
          transform: scale(2);
        }
      }
    }
  }
}